/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  width: 100%;
  background: var(--background-color) url("../images/cover-image-dark.png") fixed center / cover;
}

.header {
  display: grid;
  padding: 20px;
  position: relative;
  height: 100vh;
  grid-template-rows: 1fr max-content 1fr;
  grid-template-columns: repeat(6, 1fr);
  font-family: 'IBM Plex Mono', Arial, monospace;
}

@media (max-width: 622px) {
  .header {
    padding: 10px;
  }
}

/*Decoration Elements*/

.rec {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 9px;
  height: 9px;
  background-color: var(--rec-color);
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--rec-color);
}

@media (max-width: 622px) {
  .rec {
    top: 18px;
    right: 18px;
  }
}

.rec::before {
  content: 'REC';
  position: absolute;
  color: var(--rec-color);
  right: 24px;
  top: -7px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--title-color);
  border-right: 1px solid var(--title-color);
}

@media (max-width: 622px) {
  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }
}

.decorated-zone::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--title-color);
  border-left: 1px solid var(--title-color);
}

@media (max-width: 622px) {
  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
}

/*Theme Buttons*/

.header__theme-menu {
  grid-column-start: 3;
  grid-column-end: 5;
}

@media (max-width: 768px) {
  .header__theme-menu {
    grid-column-start: 6;
    grid-column-end: 7;
    align-self: center;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  color: var(--title-color);
  height: 26px;
  padding: 0px 13px;
  font-size: 18px;
  font-weight: 400;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--title-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--title-color);
  text-align: center;
  pointer-events: none;
}

/*Header*/

.header__content_title {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 7;
  width: 100%;
  color: var(--big-title-color);
  text-shadow: 4px 4px 0px #FF0070;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  letter-spacing: normal;
  margin-left: -20px;
} 

@media (max-width: 622px) {
  .header__content_title {
    margin-left: 0;
  }
}

.header__content_text {
  height: fit-content;
  width: fit-content;
  color: var(--content-title-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  grid-column-start: 4;
  grid-column-end: 7;
  align-self: center;
}

@media (max-width: 622px) {
  .header__content_text {
    grid-column-start: 1;
  }
}

/*Main Components*/

.main {
  color: var(--main-text-color);
  font-family: 'IBM Plex Mono', Arial, monospace;
}

.section__title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.section__content_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__content_title_main {
  color: var(--content-title-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.section__content_title-secondary {
  color: var(--content-title-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.section__content-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text_link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text_link:focus {
  outline: none;
}

.text_link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section {
  display: grid;
  padding: 0 20px 80px;
  gap: 20px;
}

@media (max-width: 622px) {
  .section {
    padding: 0 10px 50px;
  }
}

/*Why Section*/

.why {
  padding-top: 60px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .why {
    padding-top: 56px;
  }
}

@media (max-width: 622px) {
  .why {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    padding-top: 36px;
  }
}

.why__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
}

@media (max-width: 622px) {
  .why__content {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

/*What Section*/

.what {
  grid-template-rows: max-content 1fr;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 622px) {
  .what {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}

.what__content {
  display: grid;
  gap: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .what__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 622px) {
  .what__content {
    grid-column-end: 2;
  }
}

/*How Section*/

.how {
  grid-template-rows: max-content;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 622px) {
  .how {
    grid-template-columns: 1fr;
  }
}

.how__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
}

@media (max-width: 622px) {
  .how__content {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

/*Photo Section*/

.photo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 60px;
}

@media (max-width: 622px) {
  .photo {
    padding: 0 10px 40px;
    gap: 10px;
  }
}

.photo__grid {
  display: grid;
  gap: 20px;
}

@media (max-width: 622px) {
  .photo__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.photo__grid_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.photo__grid_image-sunset {
 grid-column-start: 1;
 grid-column-end: 3;
}

.photo__grid_image-icecream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.photo__grid_image-tape {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.photo__grid_iamge-books {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.photo__grid_iamge-street {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*Footer*/

.footer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content 1fr;
  padding: 20px;
  position: relative;
  font-family: 'IBM Plex Mono', Arial, monospace;
}

@media (max-width: 622px) {
  .footer {
    padding: 10px;
  }
}

.footer__content_title {
  color: var(--big-title-color);
  text-shadow: 4px 4px 0px #FF0070;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  letter-spacing: normal;
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 3;
}

/*
.pixel-perfect-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    filter: invert();
  }*/