/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  width: 100%;
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header {
  display: grid;
  padding: 20px;
  position: relative;
  grid-template-rows: 299px 130px 299px;
  grid-template-columns: repeat(6, 1fr);
}

/*Decoration Elements*/

.rec {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 9px;
  height: 9px;
  background-color: #FF0070;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px #FF0070;
}

.header.decorated-zone::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;

  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}

.header.decorated-zone::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 20px;
  
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
}

/*Theme Buttons*/

.header__theme-menu {
  grid-column-start: 3;
  grid-column-end: 5;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  
  text-transform: lowercase;
  color: var(--title-color);
  height: 26px;
  padding: 0px 13px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--title-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--title-color);
  text-align: center;
  pointer-events: none;
}

/*Header*/

.header__content_title {
  color: var(--big-title-color);
  text-shadow: 4px 4px 0px #FF0070;
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-weight: 700;
  line-height: 82.5%;
  margin-left: -20px;

  grid-column-start: 1;
  grid-column-end: 7;
} 

.header__content_text {
  height: fit-content;
  width: fit-content;
  color: var(--content-title-color);
  background-color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;

  grid-column-start: 4;
  grid-column-end: 7;
  align-self: center;
}

/*Main*/

.main {
  color: var(--main-text-color);
  background-color: var(--background-color);
}

.section__title {
  color: var(--title-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.section__content_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__content_title_main {
  color: var(--content-title-color);
  background-color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.section__content_title-secondary {
  color: var(--content-title-color);
  background-color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.section__content-text {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text_link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text_link:focus {
  outline: none;
}

.text_link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/*Why Section*/

.why {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 20px 80px;
  gap: 20px;
}

.why__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
}

/*What Section*/

.what {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 20px 80px;
}

.what__content {
  display: grid;
  gap: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

/*How Section*/

.how {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 20px 80px;
}

.how__content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  grid-column-start: 2;
  grid-column-end: 4;
}

/*Photo Section*/

.photo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 60px;
}

.photo__grid {
  display: grid;
  gap: 20px;
}

.photo__grid_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.photo__grid_image-sunset {
 grid-column-start: 1;
 grid-column-end: 3;
}

.photo__grid_image-icecream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.photo__grid_image-tape {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.photo__grid_iamge-books {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.photo__grid_iamge-street {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*Footer*/

.footer {
  position: relative;
  background-color: var(--background-color);
}

.footer__content_title {
  color: var(--big-title-color);
  text-shadow: 4px 4px 0px #FF0070;
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-weight: 700;
  line-height: 82.5%;
  text-align: center;
  padding: 319px 0;
}

.footer.decorated-zone::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;

  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}

.footer.decorated-zone::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 20px;
  
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
}

/*
.pixel-perfect-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    filter: invert();
  }*/