/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  width: 100%;
  background-color: var(--dark-theme-background-color);
}

.header {
  display: grid;
  padding: 20px;
  position: relative;
  grid-template-rows: 299px 130px 299px;
  grid-template-columns: repeat(6, 1fr);
  background-image: url(../images/cover-image-dark.png);
}

.decorated-zone {

}

.header.decorated-zone::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;

  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}

.header.decorated-zone::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 20px;
  
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
}

/*buttons light/dark*/

.header__theme-menu {
  grid-column-start: 3;
  grid-column-end: 5;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  
  text-transform: lowercase;
  color: var(--tittle-accent-text-color);
  text-align: center;
  height: 26px;
  padding: 0px 13px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
}

.header__theme-menu-button_active {
  border: 1px solid #FF0070;
  text-align: center;
}

/*header content*/

.header__content_title {
  color: #DB00FF;
  text-shadow: 4px 4px 0px #FF0070;
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-weight: 700;
  line-height: 82.5%;
  margin-left: -20px;

  grid-column-start: 1;
  grid-column-end: 7;
} 

.header__content_text {
  height: fit-content;
  width: fit-content;
  color: #000028;
  background-color: #FF0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;

  grid-column-start: 4;
  grid-column-end: 7;
  align-self: center;
}






.why {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 20px 80px;
  gap: 20px;
}

.why__title {
  color: #FF0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.why__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.why__content-title {
  color: #000028;
  background-color: #FF0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
}

.why__content-text {
  color: #F1B2CE;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}





.what {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 20px 80px;
}

.what__title {
  color: #FF0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.what__content {
  display: grid;
  gap: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.what__content-title {
  color: #000028;
  background-color: #FF0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
}

.what__content-text {
  color: #F1B2CE;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}






.how {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 20px 80px;
}

.how__content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  grid-column-start: 2;
  grid-column-end: 4;
}

.how__content_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.how__content-title-main {
  color: #000028;
  background-color: #FF0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.how__content-title-secondary {
  color: #000028;
  background-color: #FF0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.how__content-text {
  color: #F1B2CE;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}




/*Photo Section*/

.photo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 60px;
}

.photo__content-title-main {
  color: #000028;
  background-color: #FF0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.photo__grid {
  display: grid;
  gap: 20px;
}

.photo__grid_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.photo__grid_image-sunset {
 grid-column-start: 1;
 grid-column-end: 3;
}

.photo__grid_image-icecream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.photo__grid_image-tape {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.photo__grid_iamge-books {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.photo__grid_iamge-street {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}




.footer {
  position: relative;
}

.footer__content_title {
  color: #DB00FF;
  text-shadow: 4px 4px 0px #FF0070;
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-weight: 700;
  line-height: 82.5%;
  text-align: center;
  padding: 319px 0;
}


.footer.decorated-zone::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;

  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}

.footer.decorated-zone::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 20px;
  
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
}


/*
.pixel-perfect-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    filter: invert();
  }*/